:root {
  position: relative;
  min-height: 100%;
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5%;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 2em;
  font-weight: 600;
}

.hide {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.selected {
  background-color: var(--secondary-light);
}

.projectDiv {
  flex-direction: column;
  position: absolute;
  left: 0;
  padding: 5%;
  width: 30%;
}

.taskDiv {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 5%;
  width: 50%;
  right: 7%;
}

.addProjectDiv {
  padding: 10px;
}

.addProjectDiv:hover {
  background-color: var(--secondary-light);
  cursor: pointer;
}

.addTaskDiv {
  padding: 10px;
}

.addTaskDiv:hover {
  background-color: var(--secondary-light);
  cursor: pointer;
}

.tasks {
}

.projects:hover {
  background-color: var(--secondary-light);
  cursor: pointer;
}

.inputProjectForm {
  display: flex;
  flex-direction: column;
}

.inputProjectForm.hide {
  display: none;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.inputForm.hide {
  display: none;
}

.priorityForm {
  display: flex;
  justify-content: center;
  font-size: small;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2%;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 200;
  bottom: 1%;
  width: 95%;
}

.gitBtn {
  display: flex;
  align-self: center;
  padding: 1%;
  bottom: 0;
  width: 1rem;
  height: 1rem;
  transition: transform 0.5s;
}

.gitBtn:hover {
  transform: scale(1.5);
}
